.carousel{
    margin: 0 auto;
    height: 400px;
    width: 85%;
    margin:100px;
    background-color: white;
}

.contentBox{
    display: relative;
    flex-direction: column;
    margin:100px;
}

.title{
    text-align: center;
    font-weight: bold;
}
