
.contentBox{
    display: relative;
    flex-direction: column;
    margin:100px;
    justify-content: center;
    align-items: center;
}
.title{
    text-align:center;
    font-weight:bold;
    font-size:x-large;
}

.poster{
    height: 300px;
    width: 80%;
}